/*******************************
         Element Styles
*******************************/

#result-column #directions {
  display: none;
}

#result-column.generated #directions {
  display: block;
}

#result-text {
  display: none;
}

#directions h2 {
  font-size: 1.314rem;
}

button.action-button {
  display: block;
  width:100%;
  text-align: center;
}

/*******************************
          UI Overrides
*******************************/

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}
