<div class="ui two wide column"></div>
<div class="twelve wide column">
  <div id="signature-generator" class="ui two column aligned stackable divided grid">
    <div class="column">
      <h2>Form</h2>
      <p>Fill out the form below to generate your email signature.</p>
      <div id="form-messages"></div>
      <div id="signature-generator-form" class="ui form left">
        {{ form }}
      </div>
    </div>
    <div id="result-column" class="column">
      <div id="demo" class="left">
        <span>&nbsp;</span>
        <div id="result-wrapper">
          {{ include('@uky_email_signature_generator/templates/signature.html.twig', {
            'data': {
              'name': data.first_name ~ ' ' ~ data.last_name,
              'creds': data.credentials,
              'pronouns': data.pronouns,
              'title': data.position_title,
              'university': data.university,
              'department': data.department_unit,
              'sub_unit': data.sub_unit,
              'address': data.address,
              'city': data.city_state_zip,
              'phone': data.phone,
              'email': data.email,
            }
          }) }}
        </div>
      </div>
      <div id="directions" class="left">
        <button id="sig-copy-to-clipboard" class="button" data-action="copy-element" data-target="#result-html"
                data-target-text="#result-text">Copy signature</button>

        <div id="email-signature-instructions">
          <div class="content">
            <p>
              <strong>Using your signature</strong>
            </p>
            <p>
              Click the button above to automatically copy your signature to the clipboard. You may need to grant your
              browser permission to access the clipboard.
              You can also manually copy the signature by selecting the text and pressing <code>Ctrl/Cmd+C</code>.
            </p>
            <p>
              The steps for adding your signature vary depending on your email client. Consult your email client
              documentation for how to create and edit email signatures.
            </p>
            <p>
              Not all versions of email software support importing HTML signatures. The copy button above will also copy
              a plain-text version of your signature for use in email clients that do not support HTML.
            </p>
            <p>
              More info/tech support:
              <a href="https://uky.service-now.com/techhelp?id=kb_article&sysparm_article=KB0011268"
                 target="_blank">How do I add an Email Signature in Microsoft Outlook?</a>
            </p>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<!--</div>-->
